
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <div class="working-area">
    <h1>Welcome to my photo gallery.</h1>
    <hr>
    <p>ART INSPIRED BY NATURE</p>
    <ul>
      <li class="nav-item" [routerLinkActive]="['link-active']">
        You can learn more about me <a [routerLink]="['/about-us']">here.</a>
      </li>
    </ul>
    <table style="width:95%">
      <tr>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo1.jfif" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo2.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo3.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo4.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo5.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo6.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo7.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo8.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo9.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo10.jpg" alt="Person" style="width:520px;height:620px">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo11.jpg" alt="Person" style="width:520px;height:700px">
          </div>
        </td>
        <td>
          <div class="bw pic">
            <img src="assets/images/photo12.jpg" alt="Person" style="width:520px;height:700px">
          </div>
        </td>
      </tr>
    </table>
  </div>

  <!--------  Footer --------->
  <div layout="row" style="text-align:center" class="background-color-green">All rights reserved © Bilyna 2021 </div>
  <div id="footer" layout="row" style="text-align:center" class="background-color-green">

    <!-- Linkedin -->
    <a href="https://www.linkedin.com/login/" target="_blank"><img src="https://image.flaticon.com/icons/svg/39/39714.svg" class="footer_image" alt="linkedin" title="linkedin"></a> ~
    <!-- Twitter -->
    <a href="https://twitter.com/i/flow/login" target="_blank"><img src="https://image.flaticon.com/icons/svg/8/8800.svg" class="footer_image" alt="twitter" title="twitter"></a> ~
    <!-- Github -->
    <a href="https://github.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="footer_image" alt="github" title="github"></a> ~
    <!-- Instagram -->
    <a href="https://www.instagram.com/accounts/login/" target="_blank"><img src="https://image.flaticon.com/icons/svg/69/69366.svg" class="footer_image" alt="instagram" title="instagram"></a> ~
    <!-- Website -->
    <a href="" target="_blank"><img src="https://image.flaticon.com/icons/svg/484/484101.svg" class="footer_image" alt="website" title="website"></a>
  </div>
</body>
</html>

